<footer class="border-t-[6px] border-black max-w-6xl m-auto mt-48">
    <div class="grid grid-cols-7 justify-center my-6 inner--large gap-6">
        <img class="w-56 col-span-2 m-auto" src="assets/img/icons/rit-libre-corps.svg" alt="">
        <div class="col-span-5 flex border-l-2 border-black pl-8 justify-between gap-12">
            <p>Open Work Definition 0.1 was written by Stephen Jacobs, Director, Open@RIT with contributions from Michael Nolan, Associate Director, Open@RIT, and Karsten Wade, Principal Community Architect, Red Hat, Inc.</p>
            <p class="whitespace-nowrap text-right">
                Please share your comments<br> with us at mpnopen@rit.edu.
                <br><br>
                Open@RIT
                <br>
                GitHub
            </p>
        </div>
    </div>
</footer>