<nav class="hidden sm:flex py-4 justify-between max-w-4xl m-auto">
    <p><b>Open Work <br>Definition</b></p>
    <ul class="sticky top-10 left-0 whitespace-nowrap text-center flex space-x-4 items-center">
      <li><a class="text-[#252525]" href="{{site.baseurl}}">Home</a></li>
      <li><a class="text-[#252525]" href="about">About</a></li>
      <li><a class="text-[#252525]" href="get-started">Get Started</a></li>
      <li><a class="text-[#252525]" href="members">Members</a></li>
      <li><a class="text-[#252525]" href="news-room">News Room</a></li>
      <li><a class="text-[#252525]" href="">GitHub</a></li>
    </ul>
  </nav>