<nav class="hidden lg:block z-50 bg-white fixed w-full top-0 left-0">
  <div class="m-auto max-w-6xl border-black border-b-[2px] border-solid px-12">
    <div class="sm:flex py-2 justify-between inner--large">
      <p class="font-bold leading-5"><b>Open Work <br>Definition</b></p>
      <ul class="text-sm whitespace-nowrap text-center flex space-x-4 items-center">
        <li><a class="no-underline text-[#252525]" href="#goal">Goal</a></li>
        <li><a class="no-underline text-[#252525]" href="#definition">Definition</a></li>
        <li><a class="no-underline text-[#252525]" href="#roots">Roots</a></li>
        <li><a class="no-underline text-[#252525]" href="#types-of-open-work">Types</a></li>
        <li><a class="no-underline text-[#252525]" href="#open@rit">Open@RIT</a></li>
        <li><a class="no-underline text-[#252525]" href="">GitHub</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- mobile version -->
<div class="lg:hidden z-50 fixed w-full top-0 right-0 px-2 py-6 pr-2 bg-white">
  <p class="inline-block font-bold text-white">{{ site.title }}</p>
  <input class="hidden mobile-menu-toggle" type="checkbox" id="mobile-menu-toggle" />
  <label class="hamb" for="mobile-menu-toggle"><span class="hamb-line"></span></label>
  <nav class="pt-8" id="mobile-menu">
    <ul class="space-y-4 pb-6 text-center flex-col justify-center">
      <li><a class="no-underline" href="#goal">Goal</a></li>
      <hr class="w-[80%] ml-auto mr-auto border-[#393939]">
      <li><a class="no-underline" href="#definition">Definition</a></li>
      <hr class="w-[80%] ml-auto mr-auto border-[#393939]">
      <li><a class="no-underline" href="#roots">Roots</a></li>
      <hr class="w-[80%] ml-auto mr-auto border-[#393939]">
      <li><a class="no-underline" href="#types-of-open-work">Types</a></li>
      <hr class="w-[80%] ml-auto mr-auto border-[#393939]">
      <li><a class="no-underline" href="#open@rit">Open@RIT</a></li>
      <hr class="w-[80%] ml-auto mr-auto border-[#393939]">
      <li><a class="no-underline" href="">GitHub</a></li>
    </ul>
  </nav>
</div>