<nav class="z-50 bg-white fixed w-full top-0 left-0">
  <div class="m-auto max-w-6xl border-black border-b-[2px] border-solid">
  <div class="sm:flex py-2 justify-between inner--large">
    <p class="font-bold leading-5"><b>Open Work <br>Definition</b></p>
    <ul class="text-sm whitespace-nowrap text-center flex space-x-4 items-center">
      <li><a class="no-underline text-[#252525]" href="{{site.baseurl}}">Home</a></li>
      <li><a class="no-underline text-[#252525]" href="about">About</a></li>
      <li><a class="no-underline text-[#252525]" href="get-started">Get Started</a></li>
      <li><a class="no-underline text-[#252525]" href="members">Members</a></li>
      <li><a class="no-underline text-[#252525]" href="news-room">News Room</a></li>
      <li><a class="no-underline text-[#252525]" href="">GitHub</a></li>
    </ul>
  </div>
</div>
  </nav>