---
---

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@tailwind base;
@layer base {
  :root {
    --light-gray: #F2F2F2;
    --primary-text: #363636;
  }
    * {
      /* background: rgba(191, 198, 255, .2) ; */
      /* outline: 1px solid red */
    }
    body {
      @apply font-heading text-[#363636] font-light overflow-x-hidden;
    }
    h1 {
      @apply text-6xl font-semibold leading-[4rem] mb-4;
    }
    h2 {
      @apply text-3xl font-normal leading-[2.6rem] mb-5;
    }
    h3 {
      @apply text-xl leading-6;
    }
    .subtitle {
      @apply text-xl font-semibold;
    }
    a {
      @apply underline text-primary-color hover:text-slate-600 inline-block;
    }
    button {
      @apply transition-all text-sm text-black w-44 py-[5px] border-black border-[1.8px] rounded-full;
    }
    .section-divider {
      @apply my-12 lg:my-28 border-none bg-[#D4D4D4] h-[2px];
    }
    .subtitle-divider {
      @apply mt-2 mb-4 w-12 h-1;
      color: black;
      background-color: black;
    }
    .inner--large {
      @apply w-full max-w-[65rem] m-auto;
    }
    .inner--small {
      @apply w-full max-w-[54rem] m-auto;
    }
    .accordion-button--gray {
      @apply 
      relative
      flex
      items-center
      w-full
      py-4
      px-5
      text-base 
    text-[#363636] 
      text-left
      border-0
      rounded-none
      transition
      focus:outline-none
      h-[4.4rem]
    }

    .accordion-button:not(.collapsed) {
      box-shadow: none;
      background-color: #F2F2F2;
    }
    
    .accordion, .accordion-item, .accordion-button {
      border-radius: 15px !important;
    }
}
    
@tailwind components;
@tailwind utilities;
